<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
    style
        include ./style.css
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <h2>Get Gym membership for 60$ - Hurry fill this form now</h2>

      <form action="/" id="contact" method="post">
        <input type="text" name="name" id="name" placeholder="name" />
        <input type="text" name="age" id="age" placeholder="age" />
        <input type="text" name="gender" id="gender" placeholder="gender" />
        <button class="btn" >Submit</btn>
      </form>
    </div>
  </body>
</html>
