doctype html
html
  head
    title Dolo Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
              img(src="/static/img/logo.png")
              | DDA
            li #[a(href="/") Home]
            li #[a(href="https://github.com/g-sudarshan") About]
            li #[a(href="/contact") Contact]
            li #[a(href="https://dolancers.tech/") Services]
    block content
    footer#footer
        | Copyright © 2020 DoloDanceAcademy.com | All Rights Reserved